<div class="container-fluid wrapper-nm-collection">
    <div class="row justify-content-center text-center">
        <div class="col-12">
            <div class="row">
                <h1>Quotes Collection</h1>
            </div>
            @if(!dataLoaded){
                    <raven-loading></raven-loading>
            }
            @else{
                <div class="row">
                    <div class="col-3">
                        <div class="details-authors">
                            <h2>Author</h2>
                        </div>
                        <div class="row">
                            @for (letter of letters; track $index) {
                                <div class="col-md-4 col-xs-6 wrapper-abc-authors">
                                    <button class="btn btn-author" [ngClass]="{'active': initialLetter == letter}" (click)="viewAuthorsByInitial(letter)">
                                        {{letter}}
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-xs-12 wr-initial">
                                {{initialLetter}}
                            </div>
                            <div class="col-lg-9 col-md-8 col-xs-12 wr-author">
                                <div class="cont-auth">
                                    @for(author of contentAuthors; track $index){
                                        <button class="btn btn-inauthor" (click)="selectAuthor(author.name)">
                                            <span>{{author.name}}</span>
                                        </button>
                                    }
                                    @if(contentAuthors?.length <= 0){
                                        <div>
                                            There is not authors with that Initial, yet
                                        </div>
                                    }
                                </div>
                            </div>  
                        </div>
                        <div class="row">
                            @if(singleAuthor){
                                <div class="author-info">
                                    <author [data]="singleAuthor"></author>
                                </div>
                            }
                            
                            <div [ngClass]="{'collection-quotes-wauthor': singleAuthor, 'collection-quotes': !singleAuthor}">
                                <quotes [data]="quotesCollection"></quotes>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>