@if(magic_word){
    <div class="row">
        <div class="col-12">
            <p class="msg-game">{{messageGame}}</p>
            <div class="board-word">
                @for(onechar of boardWord; track $index){
                    <div class="item-word" [ngClass]="{'foundLetter': onechar.isDisabled}">
                        {{onechar.isDisabled ? onechar.value : '?'}}
                    </div>
                }
            </div>
        </div>
        <div class="col-12">
            <!-- <h2>Alphabet</h2> -->
            <div>
                @for(letter of boardLetters; track $index){
                    <button class="letter-item" (click)="clickLetter(letter)" value="{{letter.value}}" [disabled]="letter.isDisabled"
                        >{{letter.value}}</button>
                }
            </div>
        </div>
    </div>
}
