.board-word{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    margin: 0 0 2rem;
}
.item-word{
    border-bottom: 1px solid #fff;
}
.foundLetter{
    background: darkcyan;
}
.board-letters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.letter-item{
    font-size: 1.5rem;
    padding: 0.2rem 0.5rem;
    margin-bottom: 0.5rem;
}
.btn-letter{
    color: #ffffff;
    border: 1px solid #ffffff;
    background: #018b8b;
}
.btn-letter:disabled{
    background: #607D8B;
}
.msg-game{
    font-size: 1.5rem;
    color: #018b8b;
    background:  rgba(0, 0, 0, 0.5);
}