.attempts_data{
    font-size: 1.3rem;
}
.something{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.xSpan{
    font-size: 1rem;
    color: #E91E63;
    font-family: "Fredericka the Great", serif;
}