
@if(magic_word){
    <div>
        <div class="attempts_data">
            @if(numberAttempts == 0){
                <p>Good luck next time.</p>
            }
            @else {
                <div class="phrase-word">
                    <p class="hint-inst">See the Hint:</p>
                    <blockquote class="blockquote">
                        <p class="mb-0 add-quotes">{{magic_phrase}}</p>
                        <footer class="blockquote-footer text-center name-author">
                            <cite title="Source Title">Edgar Allan Poe</cite>
                        </footer>
                    </blockquote>
                </div>
                <div><div class="countAttempts" [@colorTransition]="numberAttempts">{{numberAttempts || mg_len}}</div>/{{mg_len}} Attempts</div>
            }
           
        </div>        
        
    </div>
}
