<div class="wrapper-author">
    <h3>{{authorInfo.name}}</h3>
    <div>Img</div>
    <div>
        <table>
            <tr>
                <th>Pen Names:</th>
                <td>{{authorInfo.penNames}}</td>
            </tr>
            <tr>
                <th>Professions:</th>
                <td>{{authorInfo.professions}}</td>
            </tr>
            <tr>
                <th>Books:</th>
                <td>{{authorInfo.publications}}</td>
            </tr>
        </table>
    </div>
</div>
