.wrap-nm-container{
    height: 100vh;
    display: block;
}
.navbar-nm-nv{
    position: fixed;
    height: 6rem;
    z-index: 100;
    background: rgba(23, 15, 22, 0.96);
    width: 100%;
    justify-content: flex-end;
}
main{
    height: 100vh;
    padding-top: 6rem;
}
.logo-img{
    width: 300px;
}
.nm-nnav{
    width: max-content;
    position: absolute;
    background: rgba(23, 15, 22, 0.96);
}
.nm-nnav .nav-item{
    font-size: 38px;
    color: white;
    margin: 0 12px;
    font-family: 'IM Fell Great Primer SC';
}
.nm-nnav li > a.nav-link.active{
    color: #fff;
    text-decoration: underline;
}
.signin-details{
    font-size: 1rem;
    align-self: flex-start;
}
@media (max-width: 768px) {
    .logo-img{
        width: 250px;
    }
}
@media (max-width: 576px) {
    .navbar-nm-nv{
        height: 7.5rem;
    }
    main{
        padding-top: 7.5rem;
    }
}
@media (max-width: 375px) {
    .logo-img{
        width: 240px;
    }
}