<div class="container-fluid wrapper-nm-home">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-sm-12">
            <div class="row welcome-hi align-items-end"> <!---->
                <div class="col-lg-3 col-xs-12 wr-img-welcome">
                    <img class="img-fluid rrvn" src="assets/real-ravn.png"/>
                </div>
                <div class="col-lg-9 col-xs-12">
                    <div class="row welcome-phrase justify-content-end">
                        <div>
                            <h1>Welcome stranger!</h1>
                        </div>
                        <div> <!--  class="col-lg-8 col-xs-12"-->
                            <blockquote class="blockquote">
                                <p class="mb-0">"Believe nothing you hear, and only one half that you see"</p>
                                <footer class="blockquote-footer text-center name-author">
                                    <cite title="Source Title">Edgar Allan Poe</cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10 home-description text-center">
                    You have landed in my creative space, a personal development. I have nothing for you but Offering
                    some classic games to play.
                </div>
            </div>
        </div>
    </div>
</div>

                <!-- <p>This is a Creative space</p>
                <p>A Personal development</p>
                <p>Showing skills and Acquiring New ones.</p> -->