<div class="container-fluid wrapper-nm-home raven-cover align-content-center">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-sm-12">
            <div> <!-- style="border: 1px solid white"-->
                <div class="row justify-content-end welcome-hi">
                    <div class="col-lg-8 col-md-12 wr-txt-welcome">
                        <div class="row welcome-phrase">
                            <div>
                                <h1>Welcome stranger!</h1>
                            </div>
                            <div>
                                <blockquote class="blockquote">
                                    <p class="mb-0">"Believe nothing you hear, and only one half that you see"</p>
                                    <footer class="blockquote-footer text-center name-author">
                                        <cite title="Source Title">Edgar Allan Poe</cite>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center welcome-bottom-txt">
                    <div class="col-lg-10 home-description text-center">
                        You have landed in my creative space, a personal development. This website has been created with Angular and has the goal to
                        show in a funny way a sight  of my skills. Please take a break and enjoy playing some classic games.
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>