.wrapper-nm-home{
    height: 100%;
}
.rraven{
    width: 90%;
}
.ravn-mscot{
}
.welcome-hi{
    font-family: "IM Fell Great Primer SC";
    font-size: 2rem;
    margin: auto 
}
.welcome-bottom-txt{
    margin: auto;
}
.raven-cover{
    background-image: url('/assets/line-rvn25.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
.welcome-hi h1{
    font-size: 5rem;
    line-height: 4rem;
}
.welcome-phrase{
    font-family: "IM Fell Great Primer SC";
}
.welcome-phrase .blockquote{
    font-size: 2rem;
}
.blockquote .name-author{
    color: #b9a2c6;
}
.welcome-phrase p{
    color: #ffffff;
}
.home-description{
    padding: 1rem;
    font-size: 1.3rem;
    color: #ffffff;
    /* background: rgba(109, 69, 133, 1); */
}
.wr-img-welcome{
    text-align: end;
    /* background-image: url('/assets/Glxy.png');  */
    /* background-size: cover; */
}

@media (max-width: 992px) {
    .welcome-hi h1{
        font-size: 5rem;
        line-height: 4rem;
        margin-bottom: 2rem;
    }
    .welcome-phrase{
        text-align: center;
    }
    .welcome-phrase .blockquote{
        font-size: 1.5rem;
    }
    .rrvn{
        height: 10rem;
        display: none;
    }
    .wr-img-welcome{
        text-align: center;
    }
    .wr-txt-welcome{
        background: rgba(28, 9, 38, 0.7);
    }
    .raven-cover{
        background-position: center;
    }
}
@media (max-width: 768px){
    
}
@media (max-width: 576px){
    .home-description{
        font-size: 1rem;
    }
}