.wrapper-nm-tictactoe{
    visibility: 1;
    transition: vi;
}
.wr-breadcrumbs{
    text-align: start;
    font-size: 1.2rem;
    text-decoration: none;
}
.title-game{
    font-family: "IM Fell Great Primer SC";
    margin: 12px 0px 0px;
}
.wr-board-ttt{
    /* background: rgba(0, 0, 0, 0.5); */
    min-height: 250px;
}
.board-ttt{
    display: inline-table;
    padding: 1.5rem 0rem;
}
.table-ttt{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 0;
}
.row-xo{
    display: inline-block;
}
.turn_info{
    font-size: 1.7rem;
}
.turn_info > span{
    font-size: 2rem;
    font-family: "Fredericka the Great", serif;
}
.msgGame{
    position: absolute;
    background: rgba(31, 52, 7, 0.8);
    font-family: "IM Fell Great Primer SC";
    font-size: 3.35rem;
    padding: 1rem;
    color: #fff;
}
.msgGame img{
    width: 10rem;
}
.color_X{
    color: #b256ea;
}
.color_O{
    color: #008b8b;
}

@media (max-width: 576px) {
    .msgGame {
        font-size: 2.45rem;
    }
    
}

/* animations */
@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
 }