.wrapper-nm-tictactoe{
    visibility: 1;
    transition: vi;
}
.wr-breadcrumbs{
    text-align: start;
    font-size: 1.2rem;
    text-decoration: none;
}
.title-game{
    font-family: "IM Fell Great Primer SC";
    margin: 12px 0px 0px;
}
.wr-board-ttt{
    min-height: 250px;
}
.actions-ttt{
    display: flex;
    padding: 0.5rem 0;
    justify-content: space-evenly;
}
.board-ttt{
    display: inline-table;
    padding: 1.5rem 0rem;
}
.table-ttt{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 0;
    background: rgb(20, 22, 22, 0.7);
}
.row-xo{
    display: inline-block;
}
.info-competitors{
    display: inline-block;
}
.turn_info{
    font-size: 1.5rem;
    color: #ffffff;
    font-family: "IM Fell Great Primer SC";
    margin: auto 0.5rem;
}
.endGame{
    font-size: 2rem;
    color: #ffffff;
    font-family: "Fredericka the Great", serif;
    margin: auto 0.5rem;
    transition: font-size 2s;
}
.size-2h{
    font-size: 2.5rem;
}
.msgGame{
    position: absolute;
    z-index: 2;
    background: rgba(31, 52, 7, 0.9);
    font-family: "IM Fell Great Primer SC";
    font-size: 3.35rem;
    padding: 1rem;
    color: #fff;
}
.msgGame img{
    width: 10rem;
}
.color_X{
    color: #b256ea;
}
.color_O{
    color: #008b8b;
}

@media (max-width: 576px) {
    .msgGame {
        font-size: 2.45rem;
    }
    
}

/* animations */
@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
 }
 @-webkit-keyframes shakeOn {
    0% {font-size: 2rem;}
    100% {font-size: 3rem;}
 }
 
 @keyframes shakeOn {
    0% {font-size: 2rem;}
    100% {font-size: 3rem;}
 }
 .shakeOn{
    -webkit-animation-name: shakeOn;
    animation-name: shakeOn;
 }