.xo-cell-body{
    border: 1px solid #fff;
    width: 8rem;
    height: 8rem;
    background: transparent;
    text-align: center;
    font-size: 8rem;
    line-height: 8rem;
    font-family: "Fredericka the Great", serif;
    border-radius: 0;
    margin: 0;
}
.btn-ttt.active, .btn-ttt:focus-visible, 
.btn-ttt:hover, .btn-ttt:focus, .btn-ttt:focus-within
{
    outline: 4px solid #009688;
}
.cover_X{
    color: #b256ea;
}
.cover_O{
    color: #008b8b;
}
@media (max-width: 768px) {
    .xo-cell-body{
        width: 6rem;
        height: 6rem;
        font-size: 6rem;
        line-height: 6rem;
    }
}