/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body{
    margin: 0;
    background: #170f17;
    color: #dadada;
    font-family: "Courier Prime", "Helvetica Neue", sans-serif;
}