<div class="container-fluid wrapper-nm-games" [ngClass]="{'cover-bck-tttword': displayingAGame === 'tictactoe', 'cover-bck-guessword': displayingAGame === 'guessword'}">
    <div class="row">
        <div class="smart-col-games" [ngClass]="{'moving-left': gselected}">
            @if(!showOutlet){
                 <h1 class="select-game animated" [ngClass]="{'fadeOut size-0': gselected}">
                    Select a Game
                </h1>
            }
            <div>
                <ul class="ul-games">
                    <li>
                        <a class="opt-game" routerLink="tictactoe" (click)="selectingAGame('tictactoe')">
                            <div class="div-img-game" [ngClass]="{'fadeOut-div': showOutlet}">
                                <img class="img-game" [ngClass]="{'game-smaller': gselected}" src="assets/tttgameu.png"/>
                            </div>
                            <label class="name-game" [ngClass]="{'game-name-smaller': gselected, 'btn-game-look': showOutlet}"
                                        >Tic-tac-toe</label>
                        </a>
                    </li>
                    <li>
                        <a class="opt-game" routerLink="guessword" (click)="selectingAGame('guessword')">
                            <div class="div-img-game" [ngClass]="{'fadeOut-div': showOutlet}">
                                <img class="img-game" [ngClass]="{'game-smaller': gselected}" src="assets/wgame.png"/>
                            </div>
                            <label class="name-game" [ngClass]="{'game-name-smaller': gselected, 'btn-game-look': showOutlet}"
                                        >Guess the word!</label>
                        </a> 
                    </li>
                </ul>
            </div>
        </div>
        <div class="smart-col-router-outlet" [ngClass]="{'giving-space': gselected}">
            @if(showOutlet){
                <router-outlet />
            }
        </div>
    </div>
</div>
