.wrapper-nm-games{
    margin: auto;
    text-align: center;
    font-size: 3rem;
}
.wr-games-board > h1{
    font-size: 2.5rem;
}
.ul-games{
    padding: 1rem;
}
.ul-games > li{
    width: 100%;
    padding: 1rem 0.5rem;
    list-style: none;
}
.opt-game{
    display: flex;
    color: white;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.div-img-game{
    display: inline;
}
.img-game{
    width: 12rem;
    height: 12rem;
    border: 1px solid white;
}
.name-game{
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 1rem;
}
@media (max-width: 768px) {
    .wr-games-board{
        background: rgba(0, 0, 0, 0.5);
    }

    .wr-games-board > h1{
        font-size: 2rem;
        margin-bottom: 0;
    }

    .wr-games-board .ul-games{
        padding: 0rem;
        display: flex;
    }
    
    .wr-games-board.wr-games-board .ul-games > li{
        padding: 0 0.5rem;
    }

    .div-img-game{
        display: none;
    }

    .name-game{
        width: 100%;
        font-size: 1.3rem;
        margin-left: 0rem;
    }
}